DATABASE_URL="postgresql://postgres:postgres@localhost:5432/warehouse_robot?schema=public"
DIRECT_URL="postgresql://postgres:postgres@localhost:5432/warehouse_robot?schema=public"
POSTGRES_PRISMA_URL="postgresql://postgres:postgres@localhost:5432/warehouse_robot?schema=public"
POSTGRES_URL_NON_POOLING="postgresql://postgres:postgres@localhost:5432/warehouse_robot?schema=public"
NEXT_PUBLIC_APP_NAME="仓库机器人管理系统"
